.figure{
    box-sizing: border-box;
    margin: 50px 500px;
}

/*Clases Temas html*/
.tema-intro{
    text-align: center;
    font-size: 30px;
    box-sizing: border-box;
 
    
}
.intro-fin{
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
}
